<script type="text/template" id="cursoList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Curso</th>
		 <th>Programa</th>
    <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(cursos, function(curso) { %>
    <tr>
		<td><%= htmlEncode(curso.getDisplay('name')) %></td>
		<td><%= htmlEncode(curso.getDisplay('programa')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-curso-edit',{id:<%= curso.id %>}); return false" >Editar</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-curso-delete',{id:<%= curso.id %>}); return false" >Eliminar</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="curso">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-cursoForm">
    <% if(curso.id) {%>
    <input type="hidden" name="id" value="<%= curso.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Nombre</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= curso.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="programa">Programa</label>
    	<input type="text" class="form-control" id="programa" name="programa" placeholder="Enter value" value="<%= curso.get('programa') %>"/>	
		</div>
    </form>
    </div>
</script> 